client.xml
conductor.xml
server.xml
Quintet.net Log
participants.txt
COMBFILTER.json
patchers/Projects/*
!patchers/Projects/Five
!patchers/Projects/Tutorial
!patchers/Projects/EffectsEngine
public/media/project/*
