<?xml version="1.0" encoding="utf-8" standalone="yes"?>

<pattrstorage name = "server">
	<slot number = "1">
		<pattr name = "StartServer" value = "1." />
		<pattr name = "autorestore" value = "Autorestore 0" />
		<patcher name = "ftp">
			<pattr name = "pw" value = "1nej" />
			<pattr name = "user" value = "hajdu" />
			<pattr name = "root" value = "/" />
			<pattr name = "ftp" value = "0" />
			<pattr name = "sample" value = "-1" />
		</patcher>
	</slot>
</pattrstorage>

